@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeColor {
  from {
    border-color: #E13545;
  }
  to {
    border-color: #28A745;
  }
}

#datepickerNotTouched {
  width: 100%;
  margin-top: 10px;
}

#datepickerNothingSelected {
  width: 100%;
  margin-top: 10px;

  border: 1px #E13545 solid;
  border-radius: 3px;

  -webkit-animation: fadein 0.175s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.175s; /* Firefox < 16 */
  -ms-animation: fadein 0.175s; /* Internet Explorer */
  -o-animation: fadein 0.175s; /* Opera < 12.1 */
  animation: fadein 0.175s;
}

#datepickerCorrect {
  width: 100%;
  margin-top: 10px;

  border: 1px #28A745 solid;
  border-radius: 3px;

  -webkit-animation: changeColor 0.175s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: changeColor 0.175s; /* Firefox < 16 */
  -ms-animation: changeColor 0.175s; /* Internet Explorer */
  -o-animation: changeColor 0.175s; /* Opera < 12.1 */
  animation: changeColor 0.175s;
}
