<div style="width: 100%;">
	<div style="width:405px; margin: 0 auto;">
		<form id="addTask">
			<label for="subjectID">Vali aine</label><br>
			<select id="subjectID">
				<option></option>
			</select>
			<label for="description">Ülesande kirjeldus</label><br>
			<textarea rows="6" id="description" type="text" name="description"></textarea><br>

			<label for="deadline">Tähtaeg (yyyy-mm-dd)</label><br>
			<input id="deadline" type="text" name="deadline"><br>

			<button type="submit" name="Lisa Aine">Lisa aine</button>
		</form>
	</div>
</div>