<div class="jumbotron" style="background-color:transparent">

  <h2>Tere tulemast koduste ülesannete infosüsteemi!</h2>
  <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut lorem nibh. Nunc vel tortor sit amet nulla blandit rutrum et in mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ullamcorper suscipit leo sit amet euismod. Nulla facilisi. Integer vel purus odio. Donec metus ipsum, faucibus imperdiet tincidunt et, commodo non leo. In hac habitasse platea dictumst. Quisque ac quam neque. Etiam id placerat magna. Sed aliquam urna viverra hendrerit mattis. Suspendisse sagittis convallis arcu. Nulla accumsan felis tristique dolor pharetra, ut dignissim sem egestas. Suspendisse sed iaculis elit. Cras at nibh tortor.</p>
  <p style="text-align:justify">Sed et ante et nisl scelerisque lobortis. Integer tempor lectus magna, in interdum lectus porttitor malesuada. Praesent rutrum quam quis quam fermentum rhoncus. Quisque ultrices quam semper velit consectetur consequat. Nam consectetur mi vitae urna interdum faucibus. Morbi sem risus, tincidunt eget fermentum ut, pellentesque at augue. Mauris pulvinar leo tincidunt euismod pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vitae nisi turpis.</p>

  <button (click)="test()">Test</button>
    <div class="footer">
      Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    
</div>
