
#homeworkTable {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 79%;
	table-layout: fixed;
	float:left;
}

#homeworkTable td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#homeworkTable tr:nth-child(even) {
background-color: #f7f7f7;
}

#notification {
	text-align: center;
	vertical-align: middle;
	line-height: 37px; 
}
.subjectButton {
background-color: #008cba; /* Green */
border: none;
color: white;
padding: 0px 0px;
width:95%;
word-break: break-word;
height:50px;
margin: 0 auto;
margin-top: 5px;
margin-bottom:5px;
text-align: center;
text-decoration: none;
display: block;
font-size: 14px;
text-align: center;
}
.subjectButton:hover {
	background-color: #04a3d8;
}
ul {
	list-style-type: none;
}
#standardColWidth {
	width: 15%;
}
#taskColWidth {
	width: 60%;
}
#homeworkTable td {
	font-size: 12px;
	word-wrap: break-word;
}
#homeworkTable tr {
	font-size: 12px;
	font-family: Helvetica;
}
#homeworkTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #119311;
	color: white;
	font-weight: normal;
}
