<div>
	<form id="addSubject">
		<div style="width: 100%;">
			<div style="width:405px; margin: 0 auto;">
					<label for="subjectName">Aine nimi</label><br>
					<input id="subjectName" type="text" name="subjectName"><br>
					<label for="subjectCode">Ainekood</label><br>
					<input id="subjectCode" type="text" name="subjectCode"><br>
					<label for="lecturerName">Õppejõud</label><br>
					<input id="lecturerName" type="text" name="lecturerName" ><br>
					<select id="subjectID">
						<option></option>
					</select>

					<button type="submit" name="Lisa Aine">Loo uus aine</button>
			</div>
		</div>
	</form>
</div>