/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@media only screen and (max-width: 1366px) {
	.subjectButton {
	font-size: 12px;
	}

	#homeworkTable td {
		font-size: 12px;
	}

	#homeworkTable tr {
		font-size: 12px;
	}

   	#wrapper th {
    	font-size: 12px;
    }

    #navBar li a {
    	font-size: 12px;
    }

    * {
    	font-size: 12px;
    }
}

@media only screen and (max-width: 1920px) {
	.subjectButton {
	font-size: 14px;
	}

	#homeworkTable td {
		font-size: 14px;
	}

	#homeworkTable tr {
		font-size: 14px;
	}

   	#wrapper th {
    	font-size: 14px;
    }

    #navBar li a {
    	font-size: 14px;
    }

    * {
    	font-size: 14px;
    }
}

@media only screen and (min-width: 1921px) {
	.subjectButton {
	font-size: 16px;
	}

	#homeworkTable td {
		font-size: 16px;
	}

	#homeworkTable tr {
		font-size: 16px;
	}

   	#wrapper th {
    	font-size: 16px;
    }

    #navBar li a {
    	font-size: 16px;
    }

    * {
    	font-size: 16px;
    }
}

#homeworkTable {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 79%;
	/*table-layout: fixed;*/
	float:left;
}

#homeworkTable td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#homeworkTable tr:nth-child(even) {
	background-color: #f7f7f7;
}

#notification {
	text-align: center;
	vertical-align: middle;
	line-height: 37px;
}

.subjectButton {
	background-color: #008cba; /* Light Blue */
	border: none;
	color: white;
	padding: 0px 0px;
	width:95%;
	word-break: break-word;
	height:50px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom:5px;
	text-align: center;
	text-decoration: none;
	display: block;
	text-align: center;
}
.subjectButton:hover {
	background-color: #04a3d8;
}

ul {
	list-style-type: none;
}

#standardColWidth {
	width: 15%;
}

#taskColWidth {
	width: 60%;
}

#homeworkTable td {
	word-wrap: break-word;
}

#homeworkTable tr {
	font-family: Helvetica;
}

#homeworkTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #119311;
	color: white;
	font-weight: normal;
}

textarea {
	width: 398px;
	resize: none;
	margin-top: 5px;
}

input {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 400px;
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	background-color: #008CBA; /* Green */
	border: none;
	color: white;
	padding: 0px 0px;
	width:100%;
	word-break: break-word;
	height:50px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom:5px;
	text-align: center;
	text-decoration: none;
	display: block;
	text-align: center;
}

button:hover {
	background-color: #04a3d8;
}

select {
	width: 100%;
	margin-bottom: 7px;
	margin-top: 5px;
}


#wrapper table {
	width: 100%;
	border: 1px solid #119311;
}

#wrapper th {
	font-weight: normal;
	text-align: center;
	border: none;
	border-bottom: 3px solid;
	border-color: #119311;
	font-family: Helvetica;
}

#wrapper button {
	font-family: Helvetica;
}

#navBar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #119311;
}
#navBar li {
    float: left;
}


#navBar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Helvetica;
}

#navBar a:hover {
    background-color: #14AA14;
}
