<div style="width: 100%; height: 1000px" ng-app="myApp" ng-controller="myCtrl">
	<div id="tableDiv">
		<table id="homeworkTable" style="text-align: left;">
		  	<tr>
			    <th id="standardColWidth">Aine</th>
			    <th id="standardColWidth">Aine tüüp</th>
			    <th id="taskColWidth">Ülesanne</th> 
			    <th id="standardColWidth">Õppejõud</th>
			    <th id="standardColWidth">Tähtaeg</th>
		 	</tr>
		</table>
	</div>

	<div style="width: 20%; float: right;">
		<div id="wrapper">
			<table>
				<tr>
					<th>
						Minu ained
					</th>
				</tr>
				<tr>
					<td>
					    <button *ngFor="let subject of subjects" class="subjectButton"
					    id="{{subjectIDs[subjects.indexOf(subject)]}}"
					    (click)="getSubjectHomeworksDetails(subjectIDs[subjects.indexOf(subject)])"
					    type="submit">{{subject}}</button>
					</td>
					<!--
					<td><button
					type="submit">{{mySubjects[0]}}</button></td>-->
				</tr>
			</table>
		</div>
	</div>
</div>-->