
<div *ngIf="!isAuthenticated()" id="notSignedIn">
		<h1>Ülesannete nägemiseks peate sisse logima.</h1>
</div>

<div *ngIf="isAuthenticated()" class="container-fluid h-100">
	<div class="row no-gutters h-100">
		<div class="col-lg-2">
			<div class="h-100 d-inline-block">
				<div class="sidebar">
					<div class="list-group">
						<a 	*ngFor="let subject of subjects" 
							id="{{subjectIDs[subjects.indexOf(subject)]}}" 
							class="dynamicSidebar subject"
							(click)="getSubjectHomeworksDetails(subjectIDs[subjects.indexOf(subject)])"
							>Arvutusmeetodid</a>
						
						<a routerLink="/addsubject" class="staticSidebar option"><fa name="plus-square"></fa>Lisa aine tunniplaani</a>
						<div class="sidebar seperator"></div>
						<a routerLink="/homeworks/notifications" class="dynamicSidebar option"><fa name="envelope"></fa>Teavitused</a>
						<a id="eap" routerLink="/homeworks/eapcalculator" class="dynamicSidebar option"><fa name="calculator"></fa>EAP kalkulaator</a>
						<a routerLink="/homeworks/settings" class="dynamicSidebar option"><fa name="cog"></fa>Seaded</a>
						<a routerLink="" (click)="logout()" class="staticSidebar option"><fa name="sign-out"></fa>Logi välja</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10">
			<router-outlet></router-outlet>
		
		</div>
	</div>
</div>
