<div class="jumbotron">
	<h3>Administraatori paneel</h3>
	<h4>Raporteerimised</h4>

	<div class="row">
		<div class="col-sm-12">
			<table class="tasksTable">
				<tr>
					<th>Kasutaja id</th>
					<th class="columnCenteredText">Raporteerimise arv</th>
					<th class="columnCenteredText">Raportid</th>
					<th class="columnCenteredText">Blokeeri ligipääs</th>
				</tr>

				<tr>
					<td>3p18nFZ6pfYxBbxi3pjG9R5faH83</td>
					<td style="text-align: center">3</td>
					<td style="text-align: center"><button class="btn btn-primary">Kuva raportid</button></td>
					<td style="text-align: center"><button class="btn btn-danger" >Blokeeri</button></td>
				</tr>

				<tr>
					<td>098f09DH09syhbhj3hsady7878db</td>
					<td style="text-align: center">1</td>
					<td style="text-align: center"><button class="btn btn-primary">Kuva raportid</button></td>
					<td style="text-align: center"><button class="btn btn-danger">Blokeeri</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
