<div>
	<div id="validation-form" style="width:80%; margin: 0 auto"></div>
</div>
<div style="width:100%;">
	<div style="width: 80%; margin: 0 auto">
		<label>Valige aine, mida tunniplaani lisada</label>
		<select style="text-align: center" class="form-control" #userChoice id="subjectID">
			<option *ngFor="let subject of allSubjectNames" id={{allSubjectIds[allSubjectNames.indexOf(subject)]}}>{{subject}}</option>
		</select>
        <button class="btn btn-primary" type="submit"
            (click)="addSubjectToTimetable(userChoice[userChoice.selectedIndex].id, userId)"
            name="Lisa Aine" style="width:100%; margin-top: 20px;">Lisa Aine Tunniplaani
        </button>
	</div>
</div>	