<div class="jumbotron">
    <h3>Seaded</h3>
    
      <div class="row">
          
              <div class="col sm-10">
                  <p style="display: inline; font-family: Helvetica; font-size:14px;">
                    Näita tähtaegu ületanud koduseid ülesandeid   
                  </p>
              </div>
          
            <div class="col sm-2" style="text-align:right;">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
      
    </div>
  </div>