<div class="row no-gutters">
	<div class="col-lg-2" style="cursor: pointer;">
		<div routerLink="/" style="background-color: #273135; width: 100%; height: 100%; text-align: center; vertical-align: middle; line-height: 47px">
			<img width="35px" style="margin-bottom: 5px; margin-right: 10px;" src="../assets/images/logo.png">
			<a routerLink="/" style="text-decoration: none; color:white; font-family: Helvetica;font-size: 12px; font-weight:bold">EPSILON SCHOOL</a>
		</div>
	</div>

	<div class="col-lg-10">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #273135">	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:rgb(199, 201, 202)" routerLink="/homeworks"><fa name="tasks"></fa>Ülesanded</a>
					</li>
					
					<li *ngIf="isLoggedIn" class="nav-item active">
						<a class="nav-link" style="color:rgb(199, 201, 202)" (click)="openAddHomeworkDialog()"><fa name="plus-square"></fa>Lisa ülesanne</a>
					</li>

					<li *ngIf="isLoggedIn" class="nav-item active">
						<a class="nav-link" style="color:rgb(199, 201, 202); cursor: pointer;" (click)="openAddSubjectDialog()"><fa name="plus-square"></fa>Lisa uus aine</a>
					</li>
				</ul>
			</div>

			<a *ngIf="!isLoggedIn" style="color:white"></a>
			<a *ngIf="isLoggedIn" style="color:white;">Tere, {{ user_displayName }} </a>

			<div>
				<a *ngIf="!isLoggedIn" routerLink="" (click)="login()" class="staticSidebar option"><fa name="sign-in"></fa>Logi sisse</a>
			</div>
		</nav>
	</div>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
