
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #119311;">
  <a class="navbar-brand" routerLink="/" style="color:white">Epsilon-School</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="/homeworks">Ülesanded <span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="/addhomeworks">Lisa ülesanne <span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="/createsubject">Lisa uus aine <span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="/addsubject">Lisa aine tunniplaani <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
  <a *ngIf="!isLoggedIn" class="nav-link" style="color:white">Tere, kasutaja <span class="sr-only">(current)</span></a>
  <a *ngIf="isLoggedIn" class="nav-link" style="color:white">Tere, {{ user_displayName }} <span class="sr-only">(current)</span></a>

  <button *ngIf="!isLoggedIn" style="width:120px" class="btn btn-success my-2 my-sm-0" (click)="login()">Logi sisse</button>
  <button *ngIf="isLoggedIn" style="width:120px" class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logi välja</button>

</nav>
<div style="height:5px"></div>
<router-outlet></router-outlet>
<app-messages></app-messages>
