<div class="jumbotron">
  <h3>Kaalutud keskmise hinde arvutamise kalkulaator</h3>
    <div class="row">
      <div class="col sm-6">
          <div class="container">
            <form>
              <p style="font-family: Helvetica; display:inline;">Aine nimi</p>
              <input #subjectName class="form-control" id="eapSubjectName" autocomplete="off" placeholder="Õppeaine nimetus"><br>
              <p style="font-family: Helvetica; display:inline">Hinne</p>
              <select #subjectMark class="form-control" id="subjectMark">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select><br>
              <p style="font-family: Helvetica; display:inline">EAP</p>
              <input #eapValue class="form-control" id="eapValue" autocomplete="off" placeholder="Ainepunktid"><br>
              <div style="text-align: right"><button type="submit" style="width:20%" (click)="addSubjectToEapTable(subjectName.value, subjectMark.value, eapValue.value)" class="btn btn-primary">Lisa</button></div>
            </form>
          </div>
      </div>

      <div class="col-sm-6" id="eapSubjectsDiv">
        <!--<table class="tasksTable">
          <thead class="tasksTableHeader">
            <tr>
              <th>Aine nimi</th>
              <th>EAP</th>
              <th>Hinne</th>
            </tr>
        </thead>
          <tr>
            <td>Arvutusmeetodid</td>
            <td>5</td>
            <td>4</td>
          </tr>

          <tr>
              <td>Matemaatiline analüüs II</td>
              <td>6</td>
              <td>2</td>
            </tr>
        </table>--><br>
      </div>

      
    </div>
</div>