<div class="jumbotron">
  <h3>Kaalutud keskmise hinde arvutamise kalkulaator</h3>
  <div class="row">
    <div class="col sm-6">
      <div class="container">
        <form class="needs-validation" novalidate id="eapCalculator">
          <p>Aine nimi</p>
          <div>
            <input #subjectName class="form-control" id="eapSubjectName" autocomplete="off"
                   placeholder="Õppeaine nimetus" required>
            <div class="invalid-feedback">
              Palun sisesta aine nimi.
            </div>
            <br>
          </div>

          <p>Hinne</p>
          <select #subjectMark class="form-control" id="subjectMark" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select><br>
          <p>EAP</p>

          <div>
            <input #eapValue class="form-control" id="eapValue" autocomplete="off" placeholder="Ainepunktid" required
                   type="number">
            <div class="invalid-feedback">
              Palun sisesta aine EAP.
            </div>
            <br>
          </div>

          <div style="text-align: right">
            <button type="submit" style="width:20%"
                    (click)="addSubjectToEapTable(subjectName.value, subjectMark.value, eapValue.value)"
                    class="btn btn-primary">Lisa
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-6" id="eapSubjectsDiv"></div>


  </div>
</div>
